<section class="create-user-box">
  <div class="wrapper">
    <div class="left">
      <div class="logo">
        <img src="assets/icons/primary_logo.png" alt="" width="48px" />
      </div>
      <form [formGroup]="createUserForm" (ngSubmit)="this.submitForm()">
        <h3>Create User</h3>
        <div class="inputs">
          <div class="row">
            <mat-form-field>
              <label>First Name</label>
              <input type="text" matInput formControlName="fname" />
            </mat-form-field>
            <mat-form-field>
              <label>Last Name</label>
              <input type="text" matInput formControlName="lname" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <label>Email</label>
              <input type="email" matInput formControlName="email" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <label>Password</label>
              <input type="password" matInput formControlName="password" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <label>Role</label>
              <input type="role" matInput formControlName="role" />
            </mat-form-field>
            <mat-form-field>
              <label>Date Of Birth</label>
              <input type="date" matInput formControlName="dob" />
            </mat-form-field>
          </div>
        </div>
        <div class="error">
          {{ errorMessage }}
        </div>
        <div class="buttons">
          <button type="submit" mat-flat-button color="primary">
            Create User
          </button>
          <button type="reset" mat-stroked-button color="primary">Reset</button>
        </div>
      </form>
    </div>
    <div class="right">
      <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    </div>
  </div>
  <div class="overlay"></div>
</section>
