<mat-toolbar>
  <div>
    <span>Student Portal</span>
  </div>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="registration">Registration</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="courses">Courses</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="grades">Grades</a>
    </li>
    <li>
      <a>Profile</a>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <div>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div> -->
