/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "ff neuwelt", sans-serif;
  overflow-x: hidden;
}

* {
  font-family: "ff neuwelt" !important;
}
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.mat-toolbar {
  background-color: var(--color-primary);
  color: white;
}

.error {
  font-weight: 400;
  color: var(--red700);
  font-size: 0.75rem;
}
