<mat-toolbar>
  <span>Student Portal</span>
</mat-toolbar>
<div *ngIf="loading$ && loading$ | async">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <ul>
      <li>
        <a routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li>
        <a routerLink="/courses" routerLinkActive="active">Courses</a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet name="content"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<div class="create-user-page">
  <router-outlet></router-outlet>
</div>
