.container {
  width: 100%;
  height: calc(100vh - 64px);

  li {
    list-style-type: none;

    a {
      color: var(--neutral500);
    }

    & a.active {
      padding: 1rem;
      background: var(--neutral10);
      border-radius: 50px;
      transition: var(--transition);

      &:hover {
        background: var(--color-primary);
        color: white;
      }
    }
  }

  mat-drawer {
    width: 30%;
    max-width: 300px;
    padding: 1rem;
  }

  mat-drawer-content {
    padding: 1rem;
  }
}
